<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linxiao.framework">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".dialog.TopDialogActivity"
            android:launchMode="singleTask"
            android:theme="@style/TopDialogActivityTheme"/>

        <receiver android:name=".broadcast.NotificationReceiver" />

    </application>

</manifest>
