<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linxiao.framework">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- if you need request apk install, add this permission -->
    <!--<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->

    <!-- if you need running foreground service, add this permission -->
<!--    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />-->

    <!-- if you need use DownloadManager without notification, add this permission -->
<!--    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />-->

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".dialog.TopDialogActivity"
            android:theme="@style/TopDialogActivityTheme"/>

        <activity android:name=".notification.NotificationResumeActivity" />

        <!--<receiver android:name=".broadcast.NotificationReceiver"-->
            <!--android:process=":notifyHandle" />-->
        <receiver android:name=".notification.NotificationReceiver"/>

</application>

</manifest>
